# VSDSquadron-FM constraint file (.pcf)
# Lattice ICE40UP5K-SG48ITR
set_io --warn-no-port CLK    35
set_io --warn-no-port LED_R  39
set_io --warn-no-port LED_G  40
set_io --warn-no-port LED_B  41
set_io --warn-no-port GPIO_0  46
set_io --warn-no-port GPIO_1  47
set_io --warn-no-port GPIO_2  48
set_io --warn-no-port GPIO_3  45
set_io --warn-no-port GPIO_4  44
set_io --warn-no-port GPIO_5   2
set_io --warn-no-port GPIO_6   4
set_io --warn-no-port GPIO_7   3
set_io --warn-no-port GPIO_8   6
set_io --warn-no-port GPIO_9   9
set_io --warn-no-port GPIO_10 10
set_io --warn-no-port GPIO_11 11
set_io --warn-no-port GPIO_12 12
set_io --warn-no-port GPIO_13 21
set_io --warn-no-port GPIO_14 13
set_io --warn-no-port GPIO_15 20
set_io --warn-no-port GPIO_16 19
set_io --warn-no-port GPIO_17 18
set_io --warn-no-port GPIO_18 25
set_io --warn-no-port GPIO_19 23
set_io --warn-no-port GPIO_20 27
set_io --warn-no-port GPIO_21 26
set_io --warn-no-port GPIO_22 28
set_io --warn-no-port GPIO_23 31
set_io --warn-no-port GPIO_24 32
set_io --warn-no-port GPIO_25 34
set_io --warn-no-port GPIO_26 37
set_io --warn-no-port GPIO_27 36
set_io --warn-no-port GPIO_28 43
set_io --warn-no-port GPIO_29 38
set_io --warn-no-port GPIO_30 42
set_io --warn-no-port SPI_SO  14
set_io --warn-no-port SPI_SI  17
set_io --warn-no-port SPI_SCK 15
set_io --warn-no-port SPI_SS  16
